[submodule "dice_rl_TU_Vienna"]
	path = dice_rl_TU_Vienna
	url = https://github.com/MrWhiteRichard/dice_rl_TU_Vienna.git
[submodule "medical_rl"]
	path = medical_rl
	url = https://github.com/lorenzkap/medical_rl.git
[submodule "sepsis_amsterdam"]
	path = sepsis_amsterdam
	url = https://github.com/MrWhiteRichard/sepsis_amsterdam.git
[submodule "sepsis_mimic_iv"]
	path = sepsis_mimic_iv
	url = https://github.com/lorenzkap/sepsis_mimic_iv.git
[submodule "infinite-horizon-off-policy-estimation"]
	path = infinite-horizon-off-policy-estimation
	url = https://github.com/zt95/infinite-horizon-off-policy-estimation.git
[submodule "infinite_horizon_off_policy_estimation"]
	path = infinite_horizon_off_policy_estimation
	url = https://github.com/zt95/infinite-horizon-off-policy-estimation.git
